.Furnica-intro{
    color: #FFFFFF;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

.button-now{
  font-family: 'Merriweather', serif;
  background-color:greenyellow;
  color:#000000;
  width: 75px;
  height: 30px;
  border-radius: 12px;
}

h2{
  text-align: left;
}

.furnica-img{
  max-width: 100%;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3em;
}

.button-display{
  font-size: 0.8em;
  color: #ffffff;
  background-color: limegreen;
  font-weight: bold;
  text-transform: uppercase;
  padding: .2em .35em;
  cursor: pointer;
  border-radius: 12px;
}