.Furnica-intro {
  color: #ffffff;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

h2 {
  color: #ffffff;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  text-align: left;
}
.furnica-img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-rows: auto;
}
.cards {
  width: 400px;
  padding: 30px;
}
.cards:hover {
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.image_box img {
  width: 350px;
  height: 350px;
}
.details p:nth-child(1) {
  color: white;
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
}
.details p:nth-child(2) {
  color: white;
  text-align: left;
  font-size: 1.5rem;
}
.details p:nth-child(3) {
  color: white;
  text-align: left;
  font-size: 1.5rem;
}

.details p:nth-child(4) {
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  color: white;
}
.details button {
  padding: 3px 10px;
  border: none;
  font-weight: bold;
  background-color: skyblue;
  outline: none;
  size: 1rem;
}

h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
